__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
data/raw/*.csv
data/processed/*
!data/processed/.gitkeep
data/warehouse/*
!data/warehouse/.gitkeep
data/*.db
logs/
*.log
.pytest_cache/
htmlcov/
.coverage
*.ipynb_checkpoints/
.DS_Store
